.link:hover {
  color: #58a6ff;
  text-decoration: underline;
}

.footer {
  padding: 0 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 980px;
  padding: 24px 0;
  border: #21262d;
  border-width: 2px;
  border-style: solid none none none;
  display: flex;
  justify-content: center;
}

.column {
  list-style: none;
  padding: 0 24px;
  line-height: 1.5;
}

.item {
  color: gray;
  font-size: 13px;
}

