.navbar {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.header {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.main {
  display: flex;
  flex: auto;
}

.user {
  display: flex;
  height: 100%;
  justify-content: right;
  align-items: center;
}


.item {
  padding: 16px 16px;
}

.icon {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.btn {
  transition: all 0.2s ease-out;
}

.btn:hover {
  color: #58a6ff;
  fill: #58a6ff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btnText {
  display: flex;
  align-items: center;
  height: 100%;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

.em {
  font-weight: 600;
}
