
.label {
  margin: 0 10px;
  padding: 3px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  display: block;
}

.label:focus-within {
  border-color: var(--active);
}

.input {
  border: none;
  outline: none;
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.input::placeholder {
  color: inherit;
  opacity: 0.5;
}
