:root {
  --white: rgb(250, 250, 250);
  --theme: #094346;
  --primary-fg: var(--white);
  --primary-bg: #2ea44f;
  --btn-discreet-bg: #888888;
  --active: #58a6ff;

  --nav-fg: var(--white);
  --nav-bg: var(--theme);
  --search-fg: var(--white);
  --search-bg: #0a3435;
  --footer-fg: gray;

  --fg: black;
  --bg: var(--white);
  --accent: #0969da;
  --secondary-fg: var(--white);
  --secondary-bg: darkslategray;
  --footer-sep: #d0d7de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--white);
    --bg: #0d1117;
    --accent: #58a6ff;
    --secondary-fg: black;
    --secondary-bg: var(--white);
    --footer-sep: #30363d;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--fg);
  background: var(--bg);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

a.block {
  display: block;
}

a.em {
  color: var(--accent);
}

a:hover {
  color: var(--active);
}

a.em:hover {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

ul {
  line-height: 1.5;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.btn {
  display: block;
  padding: 6px 10px;
  white-space: nowrap;
  cursor: pointer;
}

label.text {
  width: 240px;
  margin: 0 10px;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
}

label.text:focus-within {
  border: 1px solid var(--active);
}

input.text {
  border: none;
  outline: none;
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input.text::placeholder {
  color: inherit;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .ifLarge {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {
  .ifSmall {
    display: none !important;
  }
}
