.link {
  color: #58a6ff;
}

.link:hover {
  color: #58a6ff;
  text-decoration: underline;
}

.jumbotron {
  display: flex;
  flex: auto;
  justify-content: center;
  height: 480px;
  background-image: url("../public/graph.webp");
  background-position: 50% 0%;
  background-size: cover;
}

.content {
  margin: 0 32px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1280px;
}

.title {
  font-size: 56px;
  color: white;
}

.caption {
  margin: 0 0 16px 0;
  font-size: 32px;
  color: #8193b2;
}

.btn {
  padding: 12px 32px;
  cursor: pointer;
  max-width: 300px;
  border: 3px solid transparent;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  border-color: #58a6ff;
}

.accentBtn {
  font-weight: 600;
  color: white;
  background-color: #2ea44f;
}

.accentBtn:hover {
  border-color: white;
}

.sections {
  margin: 32px 0;
  display: flex;
  flex: auto;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .section {
    width: 60%;
  }
  
  .section:nth-child(even) {
    text-align: right;
    position: relative;
    left: 40%;
  }
}

.desc {
  font-size: 24px;
}

.list {
  text-align: left;
}

.fa {
  top: 50%;
  transform: translateY(-50%);
}
